# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Temporary files
tmp/
temp/

# IDE files
.vscode/
.idea/

# Database files (if any local SQLite or dump)
*.sqlite
*.db
*.sql

# Uploads / attachments (optional)
uploads/
exports/
id_card/
studentProfile/
teacherProfile/
collegeProfile/
collegeProfile/signature/
collegeProfile/stamp/
parentProfile/


!exports/.gitkeep

# Coverage reports
coverage/
